@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: "Press Start 2P", system-ui;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    /* background: rgba(0, 0, 0, 0.5); */
    color: #f1f1f1;
    padding: 1rem; 
}

.content .ca {
    background-color: white;
    color: black;
    text-align: center;
    margin: 0rem 3rem;
    /* width: 85%; */
}

.content a {
    background-color: #8b8c89;
    color: white;
    text-decoration: none;
    padding: 1.5rem 2rem;
    font-size: 3rem;
    display: block;
    border-radius: 5px;
    margin: 3rem;
    text-align: center;
    border: 1px solid black;
}

.content a:hover {
    animation: bounce 1s forwards;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.robox-border {
    position: relative;
    display: inline-block;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 0 4px #000000, /* Outer shadow for border effect */
                0 0 0 6px #ffffff; /* Inner shadow to give the inset effect */
}

.robox-border::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 4px solid #000000;
    border-radius: 16px;
    z-index: -1;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

@media(max-width:700px){
    .content {
        width: 80%;
    }

    .content a, .content .ca {
        font-size: 1rem;
        padding: 1rem;
    }

    .content .ca{
        margin: 0 auto;
    }
}
  